In [1]:
import pandas as pd
import numpy as np

##### Data preprocessing ####


from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split


##### Classification Algorithms ####

from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier

##### Classification Accuracy ####SVC

from sklearn.metrics import accuracy_score,recall_score,confusion_matrix

##### Save Model ####

import pickle

import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('Banking.csv')
data

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,DefaulterYN,EDUCATION
0,9,Unmarried,6,0,M,0,0,No,1,0,1,0,No,Seconadary
1,9,Unmarried,13,0,M,0,0,No,1,0,1,0,No,Graduate
2,9,Unmarried,13,0,M,0,0,No,1,0,1,0,No,Higher Seconadary
3,9,Unmarried,23,0,M,0,0,No,1,0,1,0,No,Uneducated
4,9,Unmarried,23,0,M,0,0,No,1,0,1,0,No,Post Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255251,1,Married,5,0,F,2,0,No,1,0,583,2,No,Seconadary
255252,1,Married,3,4,M,31,0,Yes,1,0,599,85,No,Uneducated
255253,1,Married,9,0,M,0,0,Yes,1,0,703,0,No,Uneducated
255254,0,Unmarried,6,0,N,0,0,No,0,0,759,15,No,Uneducated
255255,0,Unmarried,1,0,N,0,0,No,0,0,820,17,No,Graduate

# Missing Data Treatmaent

In [3]:
# Missing data cheak

data.isna().sum()

CUST_TYPE             0
MARITAL_STATUS        0
BRANCH_CODE           0
CUST_CATEGORY         0
GENDER                0
CONSTITUTION          0
RISK_GRADE            0
MEMBER                0
FREEZE                0
GROSSINCOME           0
ACC_NO_COUNT          0
Loan_Account_Count    0
DefaulterYN           0
EDUCATION             0
dtype: int64

In [4]:
for col in data.columns:
    if data[col].dtype == 'float64' or data[col].dtype == 'int64' or data[col].dtype == 'float32' or data[col].dtype == 'int32':
        median = data[col].median()
        data[col].fillna(median, inplace=True)
    else:
        data = data.fillna(data.mode().iloc[0])

# Unique value cheak

In [5]:
len(data)

255256

In [6]:
pd.DataFrame(data.nunique())

                      0
CUST_TYPE            10
MARITAL_STATUS        4
BRANCH_CODE          48
CUST_CATEGORY         8
GENDER                6
CONSTITUTION         25
RISK_GRADE            8
MEMBER                2
FREEZE                6
GROSSINCOME           5
ACC_NO_COUNT        258
Loan_Account_Count   70
DefaulterYN           2
EDUCATION             5

# Delete the column in case of

1.unique value == 1
or
2.unique value == len(data)

# Data imbalance cheak on Target Veriable

In [7]:
data.DefaulterYN.value_counts()

No     252975
Yes      2281
Name: DefaulterYN, dtype: int64

In [8]:
##############2. Divide Data into major & minor class
data_minor = data[data['DefaulterYN']=='Yes']
data_major = data[data['DefaulterYN'] == 'No']

from sklearn.utils import resample

##############3. Resample the minority class
data_minor_up = resample(data_minor, replace = True, n_samples = 10*len(data_minor), random_state = 1234)

##############4. combine new minor class and original major class  
New_data = pd.concat([data_major, data_minor_up])
len(New_data)

275785

In [9]:
New_data=pd.concat([data_minor,data_minor_up])
len(New_data)

25091

In [10]:
from sklearn.utils import resample

In [11]:
data_minor_up =resample(data_minor,replace=True,n_samples=10*len(data_minor),random_state=1234)

len(data_minor_up)

22810

In [12]:
data_minor_up

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,DefaulterYN,EDUCATION
188584,1,Married,36,1,F,2,91,Yes,1,0,2,1,Yes,Uneducated
207187,1,Married,4,0,M,1,91,Yes,1,1,3,2,Yes,Seconadary
188062,1,Married,3,0,F,1,91,Yes,1,1,2,1,Yes,Higher Seconadary
234684,1,Married,1,0,M,11,91,Yes,1,0,8,2,Yes,Higher Seconadary
183598,1,Married,7,0,M,0,91,Yes,1,0,2,1,Yes,Seconadary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222618,1,Unmarried,12,0,M,11,91,Yes,1,0,5,4,Yes,Uneducated
246263,1,Married,40,1,M,1,91,Yes,1,0,18,12,Yes,Seconadary
242554,1,Married,1,1,M,11,91,No,1,0,13,10,Yes,Graduate
205433,0,Unmarried,20,0,N,0,0,No,0,0,3,2,Yes,Higher Seconadary
218297,1,Married,34,1,M,1,91,Yes,1,1,4,2,Yes,Seconadary

In [13]:
New_data=pd.concat([data_major,data_minor_up])
len(New_data)

275785

In [14]:
New_data.DefaulterYN.value_counts()

No     252975
Yes     22810
Name: DefaulterYN, dtype: int64

# Label Encoding

In [15]:
New_data.head()

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,DefaulterYN,EDUCATION
0,9,Unmarried,6,0,M,0,0,No,1,0,1,0,No,Seconadary
1,9,Unmarried,13,0,M,0,0,No,1,0,1,0,No,Graduate
2,9,Unmarried,13,0,M,0,0,No,1,0,1,0,No,Higher Seconadary
3,9,Unmarried,23,0,M,0,0,No,1,0,1,0,No,Uneducated
4,9,Unmarried,23,0,M,0,0,No,1,0,1,0,No,Post Graduate

In [16]:
data.EDUCATION.unique()

array(['Seconadary', 'Graduate', 'Higher Seconadary', 'Uneducated',
       'Post Graduate'], dtype=object)

In [17]:
New_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275785 entries, 0 to 218297
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CUST_TYPE           275785 non-null  int64
 1   MARITAL_STATUS      275785 non-null  object
 2   BRANCH_CODE         275785 non-null  int64
 3   CUST_CATEGORY       275785 non-null  int64
 4   GENDER              275785 non-null  object
 5   CONSTITUTION        275785 non-null  int64
 6   RISK_GRADE          275785 non-null  int64
 7   MEMBER              275785 non-null  object
 8   FREEZE              275785 non-null  int64
 9   GROSSINCOME         275785 non-null  int64
 10  ACC_NO_COUNT        275785 non-null  int64
 11  Loan_Account_Count  275785 non-null  int64
 12  DefaulterYN         275785 non-null  object
 13  EDUCATION           275785 non-null  object
dtypes: int64(9), object(5)
memory usage: 31.6+ MB

In [18]:
lb_en=LabelEncoder()

New_data['MARITAL_STATUS']=lb_en.fit_transform(New_data['MARITAL_STATUS'])
New_data['GENDER']=lb_en.fit_transform(New_data['GENDER'])
New_data['MEMBER']=lb_en.fit_transform(New_data['MEMBER'])
New_data['DefaulterYN']=lb_en.fit_transform(New_data['DefaulterYN'])
New_data['EDUCATION']=lb_en.fit_transform(New_data['EDUCATION'])

New_data.head()

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,DefaulterYN,EDUCATION
0,9,2,6,0,3,0,0,0,1,0,1,0,0,3
1,9,2,13,0,3,0,0,0,1,0,1,0,0,0
2,9,2,13,0,3,0,0,0,1,0,1,0,0,1
3,9,2,23,0,3,0,0,0,1,0,1,0,0,4
4,9,2,23,0,3,0,0,0,1,0,1,0,0,2

# correlation

In [19]:
corr =New_data.corr()
corr.style.background_gradient(cmap='coolwarm')

In [20]:
New_data

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,DefaulterYN,EDUCATION
0,9,2,6,0,3,0,0,0,1,0,1,0,0,3
1,9,2,13,0,3,0,0,0,1,0,1,0,0,0
2,9,2,13,0,3,0,0,0,1,0,1,0,0,1
3,9,2,23,0,3,0,0,0,1,0,1,0,0,4
4,9,2,23,0,3,0,0,0,1,0,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222618,1,2,12,0,3,11,91,1,1,0,5,4,1,4
246263,1,1,40,1,3,1,91,1,1,0,18,12,1,3
242554,1,1,1,1,3,11,91,0,1,0,13,10,1,0
205433,0,2,20,0,4,0,0,0,0,0,3,2,1,1
218297,1,1,34,1,3,1,91,1,1,1,4,2,1,3

There is no correlated columns in table

# Delete remaining object columns

In [21]:
New_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275785 entries, 0 to 218297
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CUST_TYPE           275785 non-null  int64
 1   MARITAL_STATUS      275785 non-null  int32
 2   BRANCH_CODE         275785 non-null  int64
 3   CUST_CATEGORY       275785 non-null  int64
 4   GENDER              275785 non-null  int32
 5   CONSTITUTION        275785 non-null  int64
 6   RISK_GRADE          275785 non-null  int64
 7   MEMBER              275785 non-null  int32
 8   FREEZE              275785 non-null  int64
 9   GROSSINCOME         275785 non-null  int64
 10  ACC_NO_COUNT        275785 non-null  int64
 11  Loan_Account_Count  275785 non-null  int64
 12  DefaulterYN         275785 non-null  int32
 13  EDUCATION           275785 non-null  int32
dtypes: int32(5), int64(9)
memory usage: 26.3 MB

In [22]:
#### As all columns are integer so we not need to be deleted

# Identify target variable

In [23]:
### Independent variable ###

x= New_data.drop('DefaulterYN',axis=1)

#### Target varible #####

y=New_data.DefaulterYN

In [24]:
x.describe()

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,EDUCATION
count,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000
mean,1.100325,1.497315,10.655569,0.365005,2.836340,9.929278,15.869612,0.107685,0.864373,0.081810,3.907899,0.584332,1.999068
std,1.212474,0.504563,10.923583,0.883474,0.859651,22.487586,34.537472,0.309983,0.345828,0.402534,11.001757,2.008804,1.414514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,1.000000,1.000000,3.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000
50%,1.000000,1.000000,6.000000,0.000000,3.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,2.000000
75%,1.000000,2.000000,16.000000,1.000000,3.000000,3.000000,0.000000,0.000000,1.000000,0.000000,3.000000,0.000000,3.000000
max,9.000000,3.000000,99.000000,18.000000,5.000000,99.000000,97.000000,1.000000,6.000000,15.000000,820.000000,96.000000,4.000000

# Feature Scaling

# Feature scaling is done to reduce dominance of large columns

In [25]:
all_x=list(x.columns)
x[all_x]=x[all_x]/x[all_x].max()

x.describe()

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,EDUCATION
count,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000,275785.000000
mean,0.122258,0.499105,0.107632,0.020278,0.567268,0.100296,0.163604,0.107685,0.144062,0.005454,0.004766,0.006087,0.499767
std,0.134719,0.168188,0.110339,0.049082,0.171930,0.227147,0.356056,0.309983,0.057638,0.026836,0.013417,0.020925,0.353629
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001220,0.000000,0.000000
25%,0.111111,0.333333,0.030303,0.000000,0.600000,0.000000,0.000000,0.000000,0.166667,0.000000,0.001220,0.000000,0.250000
50%,0.111111,0.333333,0.060606,0.000000,0.600000,0.000000,0.000000,0.000000,0.166667,0.000000,0.001220,0.000000,0.500000
75%,0.111111,0.666667,0.161616,0.055556,0.600000,0.030303,0.000000,0.000000,0.166667,0.000000,0.003659,0.000000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Train and Test Data

In [52]:
x_train ,x_test,y_train,y_test = train_test_split(x,y,test_size =0.3,random_state=1234)

In [53]:
len(x_train)

193049

In [28]:
len(x_test)

82736

# Data preprocessing ends HERE

# --------Classification Algorithms---------

Method 1 - Random Forest Classification

In [31]:
model = RandomForestClassifier()

model.fit(x_train,y_train)

threshold=0.5
pred_y=model.predict_proba(x_test)
pred_y=(pred_y[:,1]>=threshold).astype(int)


print('Confusion Matrix: \n',confusion_matrix(y_test,pred_y))

print('Accuracy: \n',
     round(accuracy_score(y_test,pred_y)*100,2),
      "%"
     )

print('Recall: \n',
     round(recall_score(y_test,pred_y)*100,2),
      "%"
     )

Confusion Matrix:
 [[75366   678]
 [   74  6618]]
Accuracy:
 99.09 %
Recall:
 98.89 %

# Method 2 - Decision Tree Classifier

In [44]:
model = DecisionTreeClassifier()

model.fit(x_train,y_train)

threshold=0.5
pred_y=model.predict_proba(x_test)
pred_y=(pred_y[:,1]>=threshold).astype(int)


print('Confusion Matrix: \n',confusion_matrix(y_test,pred_y))

print('Accuracy: \n',
     round(accuracy_score(y_test,pred_y)*100,2),
      "%"
     )

print('Recall: \n',
     round(recall_score(y_test,pred_y)*100,2),
      "%"
     )

selected_model =model

Confusion Matrix:
 [[75279   765]
 [   60  6632]]
Accuracy:
 99.0 %
Recall:
 99.1 %

# Method 3 - KNeighbors Classifier

In [34]:
model = KNeighborsClassifier()

model.fit(x_train,y_train)

threshold=0.5
pred_y=model.predict_proba(x_test)
pred_y=(pred_y[:,1]>=threshold).astype(int)


print('Confusion Matrix: \n',confusion_matrix(y_test,pred_y))

print('Accuracy: \n',
     round(accuracy_score(y_test,pred_y)*100,2),
      "%"
     )

print('Recall: \n',
     round(recall_score(y_test,pred_y)*100,2),
      "%"
     )

Confusion Matrix:
 [[74661  1383]
 [   93  6599]]
Accuracy:
 98.22 %
Recall:
 98.61 %

# Method 4 - Logistic Regression

In [36]:
model = LogisticRegression()

model.fit(x_train,y_train)

threshold=0.5
pred_y=model.predict_proba(x_test)
pred_y=(pred_y[:,1]>=threshold).astype(int)


print('Confusion Matrix: \n',confusion_matrix(y_test,pred_y))

print('Accuracy: \n',
     round(accuracy_score(y_test,pred_y)*100,2),
      "%"
     )

print('Recall: \n',
     round(recall_score(y_test,pred_y)*100,2),
      "%"
     )

Confusion Matrix:
 [[74392  1652]
 [ 1677  5015]]
Accuracy:
 95.98 %
Recall:
 74.94 %

# Method 5 - Gradient Boosting Classifier

In [37]:
model=GradientBoostingClassifier()

model.fit(x_train,y_train)

threshold=0.5
pred_y=model.predict_proba(x_test)
pred_y=(pred_y[:,1]>=threshold).astype(int)


print('Confusion Matrix: \n',confusion_matrix(y_test,pred_y))

print('Accuracy: \n',
     round(accuracy_score(y_test,pred_y)*100,2),
      "%"
     )

print('Recall: \n',
     round(recall_score(y_test,pred_y)*100,2),
      "%"
     )

Confusion Matrix:
 [[74385  1659]
 [  640  6052]]
Accuracy:
 97.22 %
Recall:
 90.44 %

# Weight file creation

In [45]:
###### Save model ######

filename='Bank_model.sav'
pickle.dump(selected_model ,open(filename,mode='wb'))

In [54]:
############# using weight file to predict new customer data #########

model_load=pickle.load(open(file=filename,mode='rb'))

threshold=0.5
pred_y=model_load.predict_proba(x_test.iloc[82730:82736,])
pred_y=(pred_y[:,1]>=threshold).astype(int)

print('Final Prediction is : ',pred_y)

Final Prediction is :  [0 0 0 1 1 0]

In [55]:
x_test

,CUST_TYPE,MARITAL_STATUS,BRANCH_CODE,CUST_CATEGORY,GENDER,CONSTITUTION,RISK_GRADE,MEMBER,FREEZE,GROSSINCOME,ACC_NO_COUNT,Loan_Account_Count,EDUCATION
182141,0.111111,0.333333,0.282828,0.000000,0.6,0.010101,0.000000,1.0,0.166667,0.0,0.002439,0.010417,0.50
47372,0.111111,0.333333,0.060606,0.000000,0.6,0.000000,0.000000,0.0,0.166667,0.0,0.001220,0.000000,0.00
173551,1.000000,0.666667,0.010101,0.000000,0.6,0.000000,0.000000,0.0,0.000000,0.0,0.002439,0.000000,1.00
192199,0.111111,0.666667,0.141414,0.000000,0.8,0.000000,0.000000,0.0,0.166667,0.0,0.003659,0.000000,0.25
184991,0.111111,0.333333,0.202020,0.055556,0.6,0.010101,0.938144,1.0,0.166667,0.0,0.002439,0.010417,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
254107,0.111111,0.333333,0.010101,0.055556,0.2,0.000000,0.000000,0.0,0.166667,0.0,0.090244,0.000000,0.25
50973,0.111111,0.333333,0.010101,0.000000,0.6,0.000000,0.000000,0.0,0.166667,0.0,0.001220,0.000000,0.75
223404,0.111111,0.333333,0.050505,0.000000,0.6,0.181818,0.938144,1.0,0.166667,0.0,0.006098,0.041667,1.00
206409,0.111111,0.666667,0.090909,0.055556,0.6,0.000000,0.938144,0.0,0.166667,0.0,0.003659,0.020833,0.25
249746,0.111111,0.333333,0.171717,0.055556,0.6,0.121212,0.938144,0.0,0.166667,0.0,0.032927,0.031250,1.00